@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@300;400;500&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.footer, .holiday_search, .holiday, .header {
  width: 1440px;
  margin: 0 auto;
}

.header {
  height: 700px;
  background-image: url(../Image/Background.png);
  padding: 40px 291px 0 248px;
  background-position: center;
}
.header_nav, .header_nav_textright {
  display: flex;
  justify-content: space-between;
}
.header_nav_textleft {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;
  margin-top: 8px;
}
.header_nav_textright-1 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  margin-top: 10px;
  font-weight: 400;
}
.header_nav_textright-2 {
  width: 90px;
  height: 36px;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  margin-left: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
.header_nav_textright-3 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 400;
}
.header_centre {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 43px;
}
.header_nav_textleft_media {
  display: none;
}
.header_centre-1 {
  width: 470px;
  height: 125px;
  font-family: "Montserrat", sans-serif;
  font-size: 52px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  margin-top: 149px;
  line-height: 62px;
}
.header_centre-2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #F7F3F2;
  margin-top: 28.5px;
  font-weight: 300;
}
.header_centre-button {
  width: 225px;
  height: 40px;
  background: #FF4E50;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
}
.header_centre-button-3 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
}

.centre-text, .holiday_text_big {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  color: #444444;
  margin-top: 95px;
  font-weight: bold;
  text-align: center;
}

.dream {
  width: 940px;
  margin: 34px auto;
  display: flex;
  justify-content: space-between;
}
.dream_1, .dream_3, .dream_2 {
  width: 300px;
  height: 400px;
  background-image: url(../Image/1.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1px 25px 21px;
  background-position: center;
}
.dream_2 {
  background-image: url(../Image/2.png);
}
.dream_3 {
  background-image: url(../Image/31.png);
}
.dream_but_step {
  width: 70px;
  height: 20px;
  background: #FF4E50;
  border-radius: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-align: center;
}
.dream_but_text {
  text-align: center;
  margin-top: 5px;
}
.dream_text_step, .dream_text_step2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #FFFFFF;
  font-weight: bold;
  margin-top: 23px;
}
.dream_text2_step {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #E3E3E3;
  font-weight: 300;
  margin-top: 25px;
}
.dream_text2_step2 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #E3E3E3;
  font-weight: 300;
  margin-top: 19px;
}

.partner {
  width: 940px;
  height: 224px;
  margin: 35px auto;
  display: flex;
  justify-content: space-between;
}
.partner_person {
  width: 221px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partner_avatar {
  width: 120px;
  height: 120px;
}
.partner_texst_centr {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #444444;
  font-weight: bold;
  margin-top: 19px;
}
.partner_texst_end, .partner_texst_end2 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #666666;
  margin-bottom: 76px;
  text-align: center;
  margin-top: 25px;
  font-weight: 300;
}
.partner_texst_end2 {
  margin-top: 32px;
}
.partner_button {
  width: 180px;
  height: 40px;
  margin: 37px auto;
  border: 2px solid #FF4E50;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partner_button_text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #FF4E50;
  font-weight: bold;
  margin-top: 1px;
}

.idea {
  width: 940px;
  height: 991px;
  margin: 34px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.idea_text {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}
.idea_imag, .idea_imag_travell, .idea_imag_Games, .idea_imag_Extreme, .idea_imag_Healath {
  background-image: url(../Image/Object.png);
  width: 300px;
  height: 310px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.idea_imag_Healath {
  background-image: url(../Image/Object2.png);
}
.idea_imag_Extreme {
  background-image: url(../Image/Bitmap3.png);
  padding: 0 54px 0 54px;
}
.idea_imag_Games {
  background-image: url(../Image/Object4.png);
}
.idea_imag_long_Culture, .idea_imag_long {
  width: 620px;
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../Image/Object5.png);
  background-position: center;
}
.idea_imag_long {
  background-image: url(../Image/Object6.png);
}
.idea_imag_travell {
  background-image: url(../Image/Object7.png);
}

.holiday_text_big {
  margin-top: 73px;
}
.holiday_text_small {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #666666;
  margin-top: 55px;
  text-align: center;
}
.holiday_search {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}
.holiday_search_text {
  width: 299px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #D4D4D4;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #999999;
  padding-left: 14px;
  font-weight: 300;
}
.holiday_button {
  width: 172.12px;
  height: 40px;
  background: #FF4E50;
  border-radius: 40px;
  margin-left: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.holiday_button_text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
}

.footer {
  margin-top: 99px;
  height: 224px;
  border-top: 2px solid #FF4E50;
}
.footer_block {
  width: 945px;
  height: 100%;
  display: flex;
  margin: 0 auto;
  padding-top: 39px;
  justify-content: space-between;
}
.footer_block_1 {
  width: 118px;
}
.footer_block_1_text_top {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #FF4E50;
}
.footer_block_1-2 {
  display: none;
}
.footer_block_2 {
  width: 119px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 6px;
}
.footer_block_2_text_top {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #444444;
  font-weight: bold;
  margin-bottom: 7px;
}
.footer_block_2_text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #999999;
  font-weight: 300;
}
.footer_block_3 {
  width: 125px;
}
.footer_block_4 {
  width: 110px;
  margin-left: 105px;
}
.footer_block_4_text {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  color: #CCCCCC;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: end;
}
.footer_block_4_img {
  width: 110px;
  height: 24px;
  margin-top: 7px;
}/*# sourceMappingURL=main12.css.map */