@import '../base/reset';
@import '../base/mixin';
@import '../base/variables';

.header{
    @extend %main-widht;
    height: 700px;
    background-image: url(../Image/Background.png);
    padding: 40px 291px 0 248px;
    background-position: center;

    &_nav{
        display: flex;
        justify-content: space-between;
    }
    &_nav_textleft{
        @include fonts ($main-font, 20px, #FFFFFF);
        font-weight: bold;
        margin-top: 8px;
    }
    &_nav_textright{
        @extend .header_nav;
    }
    &_nav_textright-1{
        @include fonts ($main-font, 14px, #FFFFFF);
        margin-top: 10px;
        font-weight: 400;
    }
    &_nav_textright-2{
        width: 90px;
        height: 36px;
        border: 2px solid #FFFFFF;
        border-radius: 40px;
        margin-left: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        
    }
    &_nav_textright-3 {
        @include fonts ($main-font, 14px, #FFFFFF);  
        font-weight: 400; 
    }  
    &_centre {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 43px;
    }
    &_nav_textleft_media{
        display: none;
    }
    &_centre-1{
        width: 470px;
        height: 125px;
        @include fonts ($main-font, 52px, #FFFFFF);
        font-weight: bold;
        text-align: center;
        margin-top: 149px;
        line-height: 62px;
    }
    &_centre-2{
        @include fonts ($sec-font, 24px, #F7F3F2); 
        margin-top: 28.5px;
        font-weight: 300;
    }
    &_centre-button{
        width: 225px;
        height: 40px;
        background: #FF4E50;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 33px;
    }
    &_centre-button-3{
        @include fonts ($main-font, 14px, #FFFFFF); 
        font-weight: bold;
    }  
}
.centre-text{
    @include fonts ($main-font, 26px, #444444);
    margin-top: 95px;
    font-weight: bold;
    text-align: center;
}
.dream{
    width: 940px;
    margin: 34px auto;
    display: flex;
    justify-content: space-between;
    &_1{
        width: 300px;
        height: 400px;
        background-image: url(../Image/1.png);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 1px 25px 21px;
        background-position: center;
    }
    &_2{
        @extend .dream_1;
        background-image: url(../Image/2.png);
    }&_3{
        @extend .dream_1;
        background-image: url(../Image/31.png);
    }
    &_but_step{
        width: 70px;
        height: 20px;
        background: #FF4E50;
        border-radius: 40px;
        @include fonts ($main-font, 10px, #FFFFFF);
        letter-spacing: 2px;
        text-align: center;
    }
    &_but_text{
        text-align: center;
        margin-top: 5px;
    }
    &_text_step{
        @include fonts ($main-font, 24px, #FFFFFF);
        font-weight: bold;
        margin-top: 23px;
    }
    &_text2_step{
        @include fonts ($sec-font, 14px, #E3E3E3); 
        font-weight: 300;
        margin-top: 25px;
    }
    &_text_step2{
        @extend .dream_text_step;
    }
    &_text2_step2{
        @include fonts ($sec-font, 14px, #E3E3E3); 
        font-weight: 300;
        margin-top: 19px;
    }
}
.partner{
    width: 940px;
    height: 224px;
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
    &_person{
       width: 221px;
       display: flex;
       flex-direction: column;
       align-items: center; 
    }
    &_avatar{
        width: 120px;
        height: 120px;
    }
    &_texst_centr{
        @include fonts ($main-font, 14px, #444444);
        font-weight: bold;
        margin-top: 19px;
    }
    &_texst_end{
        @include fonts ($sec-font, 14px, #666666);
        margin-bottom: 76px;
        text-align: center;
        margin-top: 25px;
        font-weight: 300;
    }
    &_texst_end2{
        @extend .partner_texst_end;
        margin-top: 32px;
    }
    &_button{
        width: 180px;
        height: 40px;
        margin: 37px auto ;
        border: 2px solid #FF4E50;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_button_text{
        @include fonts ($main-font, 14px, #FF4E50);
        font-weight: bold;
        margin-top: 1px;
    }   
}
.idea{
    width: 940px;
    height: 991px;
    margin: 34px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &_text{
        @include fonts ($main-font, 22px, #FFFFFF);
        font-weight: bold;   
        text-align: center;
    }
    &_imag{
        background-image: url(../Image/Object.png);
        width: 300px;
        height: 310px;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_imag_Healath{
        @extend .idea_imag;
        background-image: url(../Image/Object2.png);
    }
    &_imag_Extreme{
        @extend .idea_imag;
        background-image: url(../Image/Bitmap3.png);
        padding: 0 54px 0 54px;
    }
    &_imag_Games{
        @extend .idea_imag;
        background-image: url(../Image/Object4.png);
    }
    &_imag_long_Culture{
        width: 620px;
        height: 310px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../Image/Object5.png);
        background-position: center;
    }
    &_imag_long{
        @extend .idea_imag_long_Culture;
        background-image: url(../Image/Object6.png);
    }  
    &_imag_travell{
        @extend .idea_imag;
        background-image: url(../Image/Object7.png);
        
    }
}  
.holiday{
    @extend %main-widht;

    &_text_big{
        @extend .centre-text;
        margin-top: 73px;
    }
    &_text_small{
        @include fonts ($sec-font, 18px, #666666);
        margin-top: 55px;
        text-align: center;
    }
    &_search{
        @extend %main-widht;
        display: flex;
        justify-content: center;
        margin-top: 22px;
    }
    &_search_text{
        width: 299px;
        height: 40px;
        background: #FFFFFF;
        border: 1px solid #D4D4D4;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
        border-radius: 3px;
        @include fonts ($sec-font, 14px,  #999999);
        padding-left: 14px;
        font-weight: 300;
    }
    &_button{
        width: 172.12px;
        height: 40px;
        background: #FF4E50;
        border-radius: 40px;
        margin-left: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_button_text{
        @include fonts ($main-font, 14px, #FFFFFF); 
        font-weight: bold;
    }
}
.footer{
    @extend %main-widht;
    margin-top: 99px;
    height: 224px;
    border-top: 2px solid #FF4E50;

    &_block{
        width: 945px;
        height: 100%;
        display: flex;
        margin: 0 auto;
        padding-top: 39px;
        justify-content: space-between;
    }
    &_block_1{
        width: 118px;
    }
    &_block_1_text_top{
        @include fonts ($main-font, 16px, #FF4E50);
    }
    &_block_1-2{
        display: none;
    }
    &_block_2{
        width: 119px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 6px;
    } 
    &_block_2_text_top{
        @include fonts ($main-font, 14px, #444444);
        font-weight: bold;
        margin-bottom: 7px;
    }
    &_block_2_text{
        @include fonts ($sec-font, 14px,  #999999);
        font-weight: 300;
    }
    &_block_3{
        width: 125px;
    }
    &_block_4{
        width: 110px;
        margin-left: 105px;
    }
    &_block_4_text{
        @include fonts ($main-font, 10px, #CCCCCC);
        font-weight: bold;
        letter-spacing: 1px;
        text-align: end;
    }
    &_block_4_img{
        width: 110px;
        height: 24px;
        margin-top: 7px;
        
        
    }
}










