@import '../base/mixin';
@import '../base/variables';

@media screen and (max-width: 1450px) {
    .header{
        width: 768px;
        padding: 40px 50px 0 48px;
        &_centre {
            margin-left: 0px;
        }
    }
    .centre-text{
        @include fonts ($main-font, 22px, #444444);  
    }
    .dream{
        width: 748px;
        margin: 39px auto;
        &_1{
            width: 236px;
            padding: 1px 21px 15px;
        }
        &_2{
            width: 236px;
            padding: 1px 21px 15px;
        }  
        &_3{
            width: 236px;
            padding: 1px 21px 15px;
        }
        &_text_step{
            margin-top: 46px;
            line-height: 14px;
        }
        &_text2_step {
            margin-top: 29px;
        }
        &_text2_step2 {
            margin-top: 23px;
        }
        &_text_step2{
            @extend .dream_text_step;
            margin-top: 18px;
        }
        &_but_text{
            margin-top: 7px;
        }
    }
    .partner{
        width: 514px;
        height: 471px;
        margin: 39px auto 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-between;
       
        &_person{
            width: 256px;
            height: 214px;
        }
        &_media{
            width: 220px;
        }

        &_texst_centr{
            margin-top: 21px;
        }
        &_media2_centre{
            margin-top: 22px;
        }
        
        &_texst_end{
            margin-bottom: 0px;
            margin-top: 24px;
            
        }
        &_texst_end2{
            @extend .partner_texst_end;
            margin-top: 24px;
        }
        &_media2{
            width: 232px;
            margin-top: 26px;
        }
        &_button {
            width: 180px;
            height: 40px;
            margin: 34px auto;
        }
    }
    .idea{
        width: 748px;
        height: 991px;
        margin: 40px auto 0;
        &_imag{
            width: 236px;
            height: 310px; 
            padding: 1px 10px 1px 12px;
            background-image: url(../Image/Sport.png);
        }
        &_media{
            display: none;
        }
        &_imag_Healath{
            width: 236px;
            height: 310px;   
        }
        &_imag_Extreme{
            @extend .idea_imag_Healath;
            padding: 0 10px 0 12px;;
        }
        &_imag_Games{
            @extend .idea_imag_Healath;
           
        }
        &_imag_long_Culture{
            width: 492px;
            height: 310px;
        }
        &_imag_long{
            @extend .idea_imag_long_Culture;
            background-position: left;   
        }  
        &_imag_travell{
            @extend .idea_imag_Healath;
            background-image: url(../Image/GamesCopy.png);   
        }
        
    }
    .holiday{
        width: 748px;
        &_text_big{
            @include fonts ($main-font, 22px, #444444);  
            margin-top: 73px;
        }
        &_search{
            width: 748px;
            margin-top: 22px;
        }
    }
    .footer{
        width: 768px;
        height: 224px;
        &_block{
            width: 693px;
        }
        &_block_1{
            width: 182px;
        }
        &_block_2{
            width: 125px;
        }
        &_block_3{
            width: 140px;
        }
        &_block_4{
            margin-left: 0px;
        }
    }
}

