%main-widht {
    width: 1440px;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@300;400;500&display=swap');
$sec-font: 'Roboto', sans-serif;
$main-font: 'Montserrat', sans-serif;